<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>WordWolf</title>
    <style>
        #turn {
            position: absolute;
            top: 5%;
            left: 50%;
            width: 45vw;
            height: 10vh;
            transform: translateX(-50%);
            font-size: 4vw;
            text-align: center;
        }

        #topic {
            position: absolute;
            top: 30%;
            left: 50%;
            transform: translateX(-50%);
            font-size: 3vw;
            text-align: center;
        }

        #next_btn {
            position: absolute;
            top: 60%;
            left: 50%;
            transform: translateX(-50%);
            font-size: 3vw;
            text-align: center;
        }
    </style>
</head>
<!-- VSCodeのエラー表示対策のため、scriptタグ外でjinja2を使用し、それを読み込む -->

<body data-members='{{ members | tojson }}'>
    <h2 id="turn">※お題が表示されます</h2>
    <p id="topic" style="color: red;"></p>
    <button id="next_btn" onclick="topic()">表示</button>
    <a href="/study">沖縄戦の概要</a>

    <script>
        // お題一覧 (app.pyと連動)
        const topic_list = [
            ["りんご", "みかん"],
            ["犬", "猫"],
            ["学校", "図書館"],
            ["電車", "バス"],
            ["ピザ", "ハンバーガー"],
            ["海", "川"],
            ["サッカー", "バスケ"],
            ["春", "秋"],
            ["コーヒー", "紅茶"],
            ["車", "バイク"],
            ["パン", "ご飯"],
            ["ピアノ", "ギター"],
            ["スイカ", "メロン"],
            ["ねこ", "ねずみ"],
            ["犬小屋", "猫ハウス"],
            ["鉛筆", "ペン"],
            ["リンゴジュース", "オレンジジュース"],
            ["自転車", "キックボード"],
            ["映画館", "カラオケ"],
            ["タクシー", "電車"],
            ["チョコレート", "キャンディ"],
            ["砂浜", "山"],
            ["春巻き", "餃子"],
            ["テレビ", "ラジオ"],
            ["ケーキ", "クッキー"],
            ["トマト", "きゅうり"],
            ["橋", "トンネル"],
            ["机", "椅子"],
            ["パソコン", "スマホ"],
            ["山登り", "ハイキング"],
            ["ビール", "ワイン"],
            ["ネクタイ", "スカーフ"],
            ["かばん", "リュック"],
            ["青空", "夕焼け"],
            ["雨", "雪"],
            ["時計", "カレンダー"],
            ["飛行機", "船"],
            ["サングラス", "メガネ"],
            ["筆箱", "教科書"],
            ["犬の散歩", "猫の餌やり"],
            ["バナナ", "オレンジ"],
            ["ラーメン", "うどん"],
            ["自動販売機", "コンビニ"],
            ["寿司", "刺身"],
            ["公園", "遊園地"],
            ["映画", "ドラマ"],
            ["アイスクリーム", "シャーベット"],
            ["新幹線", "飛行機"],
            ["温泉", "銭湯"],
            ["野球", "テニス"],
            ["カレー", "シチュー"],
            ["花火", "イルミネーション"],
            ["スマートウォッチ", "腕時計"],
            ["スキー", "スノーボード"],
            ["教室", "職員室"],
            ["ベッド", "布団"],
            ["シャツ", "セーター"],
            ["プリン", "ゼリー"],
            ["ビーチ", "プール"],
            ["山", "丘"],
            ["マウス", "キーボード"],
            ["カメラ", "ビデオカメラ"],
            ["本屋", "図書館カード"],
            ["ケチャップ", "マヨネーズ"],
            ["ハサミ", "カッター"],
            ["プリンタ", "コピー機"],
            ["スリッパ", "靴"],
            ["電気", "ろうそく"],
            ["スマホケース", "パソコンカバー"],
            ["駅", "空港"],
            ["レモン", "ライム"],
            ["牛乳", "豆乳"],
            ["ソファ", "ベッド"],
            ["白ごはん", "チャーハン"],
            ["ホットケーキ", "ワッフル"],
            ["冷蔵庫", "電子レンジ"],
            ["魚", "肉"],
            ["サンドイッチ", "ハンバーガー"],
            ["風", "嵐"],
            ["ロボット掃除機", "掃除機"],
            ["帽子", "ヘルメット"],
            ["音楽", "演劇"],
            ["ペットボトル", "缶"],
            ["エレベーター", "エスカレーター"],
            ["バス停", "駅前"],
            ["プリクラ", "写真館"],
            ["スピーカー", "イヤホン"],
            ["メロンパン", "クロワッサン"],
            ["牛丼", "親子丼"],
            ["新聞", "雑誌"],
            ["花", "観葉植物"],
            ["鉛筆削り", "消しゴム"],
            ["国語", "算数"],
            ["地図", "カーナビ"],
            ["カラーペン", "色鉛筆"],
            ["夜空", "星空"],
            ["タオル", "ハンカチ"],
            ["サラダ", "スープ"],
            ["バレーボール", "ハンドボール"],
            ["雪だるま", "かまくら"],
            ["飛行場", "港"],
            ["冷房", "暖房"],
            ["朝ごはん", "昼ごはん"],
            ["定規", "コンパス"],
            ["自動車学校", "塾"],
            ["果物", "野菜"],
            ["卵焼き", "目玉焼き"],
            ["うさぎ", "ハムスター"],
            ["パン屋", "ケーキ屋"],
            ["タブレット", "ノートパソコン"],
            ["メール", "手紙"],
            ["スーツ", "作業着"],
            ["電卓", "そろばん"],
            ["ブランコ", "すべり台"],
            ["牛", "馬"],
            ["月", "太陽"],
            ["焼き鳥", "唐揚げ"],
            ["線路", "道路"],
            ["電球", "蛍光灯"],
            ["花瓶", "植木鉢"],
            ["カーテン", "ブラインド"],
            ["シャンプー", "リンス"],
            ["トランプ", "UNO"],
            ["辞書", "百科事典"],
            ["ラップ", "アルミホイル"],
            ["ポスト", "宅配ボックス"],
            ["カレンダーアプリ", "手帳"],
            ["タブレット菓子", "ガム"],
            ["星座", "惑星"],
            ["ハンバーグ", "ステーキ"],
            ["地球儀", "地図帳"],
            ["折り紙", "画用紙"],
            ["動物園", "水族館"],
            ["花束", "ブーケ"],
            ["自販機", "ATM"],
            ["洗濯機", "乾燥機"],
            ["スマホゲーム", "ボードゲーム"],
            ["包丁", "まな板"],
            ["おにぎり", "太巻き"],
            ["手袋", "軍手"],
            ["お城", "神社"],
            ["サンドバッグ", "ダンベル"]
        ];


        const name_list = JSON.parse(document.body.dataset.members);
        const randomMember = Math.floor(Math.random() * name_list.length); // ランダムにWolfの人のindex番号を決める
        const randomTopic = Math.floor(Math.random() * topic_list.length); // ランダムにWolfの人のindex番号を決める
        const turn_name = document.getElementById("turn");
        const topic_content = document.getElementById("topic");
        let index = 0;

        function topic() {
            if (index < name_list.length) {
                turn_name.textContent = (name_list[index] || "プレーヤー" + (Number(index) + 1)) + "さんのお題は";
                // 人狼の時
                if (index == randomMember) {
                    alert("※お題を表示します")
                    topic_content.textContent = topic_list[randomTopic][1]
                    index++
                }
                // 市民の時
                else {
                    alert("※お題を表示します")
                    topic_content.textContent = topic_list[randomTopic][0]
                    index++
                }
            }
            else {
                location.href = `/game?member_index=${randomMember}&topic_index=${randomTopic}`
            }
        }
    </script>
</body>

</html>
